<!DOCTYPE html>

	<html>
	
	<head>
		<title>Palma Quiz!</title>

		<meta charset = "utf-8">

		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="/static/style.css">
		<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:100,400,700' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<h1>{{ quiz.name }}</h1>
		<h1>{{ question_number }}. {{ question }}</h1>

		<form action="{% url "question_page" quiz.slug question_number %}" method="post">
		
		<p>
				<label>
						<input type="radio" name="answer" value="1">
						{{ answer1 }}
				</label>
		</p>

		<p>
				<label>
						<input type="radio" name="answer" value="2">
						{{ answer2 }}
				</label>
		</p>

		<p>
				<label>
						<input type="radio" name="answer" value="3">
						{{ answer3 }}
				</label>
		</p>
		

		<button type="submit">Nästa</button>
		{% csrf_token %}

		</form>	
		

	</body>

	</html>