<!DOCTYPE html>

	<html>
	
	<head>
		<title>Palma Quiz!</title>

		<meta charset = "utf-8">

		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="/static/style.css">
		<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:100,400,700' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<h1>{{ question_number }}. {{ question }}</h1>
		<p>{{ answer1 }}</p>
		<p>{{ answer2 }}</p>
		<p>{{ answer3 }}</p>

		<h1>PALMA QUIZ!</h1>

		<h2>Välkommen till PALMA Quizet!</h2> 
		

		<h3>I vilket land ligger Palma?</h3> 
		<img src = "palma.jpg"> 
		<br>
		<br>

		<form>
				<input type = "radio" name = "fråga1" value = "Spanien"> Spanien
			<br>
				<input type = "radio" name = "fråga1" value = "Tyskland"> Tyskland
			<br>
				<input type = "radio" name = "fråga1" value = "Frankrike"> Frankrike
			<br><br>
			
		</form>

		<p><a href="{% url "completed_page" quiz_slug %}">Nästa</a></p>
		
		<a href="question.html" class="button">Nästa fråga</a>

		<p> 
			Detta var sista frågan, för att komma till resultatet klicka 
		<a href="completed.html">här</a></p>

	</body>

	</html>