<!DOCTYPE html>

	<html>
	
	<head>
		<title>Palma Quiz!</title>

		<meta charset = "utf-8">

		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="style.css">
	</head>

	<body>
		<h1>PALMA QUIZ!</h1>

		<h2>Välkommen till PALMA Quizet!</h2> 
		

		<h3>I vilket land ligger Palma?</h3> 
		<img src = "palma.jpg"> 
		<br>
		<br>

		<form>
				<input type = "radio" name = "fråga1" value = "Spanien"> Spanien
			<br>
				<input type = "radio" name = "fråga1" value = "Tyskland"> Tyskland
			<br>
				<input type = "radio" name = "fråga1" value = "Frankrike"> Frankrike
			<br><br>
			
		</form>

		<a href="quiz_question2.html" class="button">Nästa fråga</a>

		<p> 
			Detta var sista frågan, för att komma till resultatet klicka 
		<a href="quiz_result.html">här</a></p>

	</body>

	</html>