<html>
	<head>
		<title>Tjejer kodar quiz!</title>

		<meta charset = "utf-8">

		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="/static/style.css">
		<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:100,400,700' rel='stylesheet' type='text/css'>

	
	</head>

	<body>
		
		<h1><b>TJEJERKODAR</b> QUIZ!</h1>

		<h2>Välkommen till Tjejerkodar quiz!</h2> 

		<p>Här kan du välja vilket quiz du vill göra.<br>Välj ett quiz genom att klicka på det.</p>

	<div id="quiz_meny">

		{% for quiz_slug, quiz in quizzes.items %}
   	 			<p><a href="{% url "quiz_page" quiz_slug %}">
						{{ quiz.name }}
				</a></p>
		{% endfor %}

	</div>
	
		
	</body>

</html>