<html>
	<head>
		<title>Tjejer kodar quiz!</title>

		<meta charset = "utf-8">

		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="/static/style.css">
	</head>

	<body>
		<h1>Tjejerkodar QUIZ!</h1>

		<h2>Välkommen till Tjejerkodar quiz!</h2> 

		<p>Här kan du välja vilket quiz du vill göra.<br>Välj ett quiz genom att klicka på det.</p>

	<div id="quiz_meny">
		<ul id="quiz">
			<li><a href="quiz.html">Palma quiz</a></li>
			<li><a href="#">Quiz 2</a></li>
			<li><a href="#">Quiz 3</a></li>
			<li><a href="#">Quiz 4</a></li>
			<li><a href="#">Quiz 5</a></li>
		</ul>
	</div>
	
		
	</body>

</html>