body {
	background: #ffcdff;
	width: 600px;
	margin: 0 auto; 
	margin-top: 40px;
	font-family: 'Josefin Slab'; 
    
      }

h1 {
	color: #ffffff;
	text-align: center;
	width: 600px;
	margin: 0 auto; 
	font-size: 48;
	font-weight: 100;
}

h2 {
	color: #000000;
	text-align: center;
	width: 600px;
	margin: 0 auto; 
	font-size: 28;
	font-weight: 100;
}

p {
	color: #000000;
	text-align: center;
	width: 600px;
	margin: 0 auto; 
	font-size: 20;
	font-weight: 100;
}

b {
	font-weight: bold 700;

}

.button {
	border-radius:300px;
	color: #ff33cc;
	border-width:3px;
	border-style: solid;
	text-decoration: none;
	width: 600px;
	margin: 0 auto; 
}
